html,
body {
    height: 100%;
    margin: 0;
    font-size: 24px;
}

#container {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    height: 100%;
    display: grid;
}

#header {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: darkgray;
    margin: 10px;
    padding: 10px;
    font-size: 3em;
    text-align: center;
    max-height: 200px;
}

#speech {
    background-image: url(https://i.pinimg.com/originals/a8/29/99/a82999169696c71fbea91ebfba567311.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#character {
    /* background-image: url(https://img.wattpad.com/cover/194280817-176-k298844.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}